/* .section {
  background: rgba(177, 24, 24, 0.7);
  height: 100vh;
} */
.center {
  text-align: center;
}

.center button {
  margin-top: 10px;
}

.music {
  background: linear-gradient(rgba(42, 33, 33, 0.7), rgba(42, 33, 33, 0.7)),
    url("../assets/images/bg-music.jpg");
}

.movies {
  background: linear-gradient(rgba(42, 33, 33, 0.7), rgba(42, 33, 33, 0.7)),
    url("../assets/images/bg-movies.jpg");
  background-position: center center;
}

.pictures {
  background: linear-gradient(rgba(42, 33, 33, 0.7), rgba(42, 33, 33, 0.7)),
    url("../assets/images/bg-pictures.jpg");
}

.bgImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
