.section {
  display: flex;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/images/bg-welcome.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* position: relative; */
}

.heading {
  color: white;
  text-align: center;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.arrow {
  animation-name: pulse_animation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* mobiles (portrait)*/
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .section {
    height: 100vh;
  }
  .arrow {
    padding-top: 180px;
    padding-right: 80px;
    height: 82%;
  }
  .heading {
    padding-top: 200px;
    font-size: 40px;
  }
}

/* mobiles (landscape)*/
@media only screen and (max-width: 480px) and (orientation: landscape) {
  .section {
    height: 80vh;
  }
  .arrow {
    padding-top: 1px;
    padding-right: 120px;
    height: 1%;
  }
  .heading {
    padding-top: -1px;
    font-size: 5px;
  }
}

/* tablets (portrait)*/
@media only screen and (min-width: 480px) and (max-height: 1280px) and (orientation: portrait) {
  .section {
    height: 100vh;
  }
  .arrow {
    padding-top: 200px;
    padding-right: 200px;
    height: 88%;
  }
  .heading {
    padding-top: 300px;
    font-size: 60px;
  }
}
/* tablets (landscape) */
@media only screen and (min-width: 480px) and (max-height: 1280px) and (orientation: landscape) {
  .section {
    height: 100vh;
  }
  .arrow {
    padding-top: 200px;
    height: 88%;
  }
  .heading {
    padding-top: 150px;
    font-size: 60px;
  }
}

/* desktop or laptops */
@media only screen and (min-width: 1280px) {
  .section {
    height: 100vh;
  }
  .arrow {
    padding-top: 200px;
    height: 90%;
  }
  .heading {
    padding-top: 350px;
    font-size: 80px;
  }
}
